* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100%;
    height: 100vh;
}

.div {
    width: 10rem;
    height: 10rem;
    background-color: aquamarine;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 3rem;
}
